# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\COLLEGE\SY_KY_IV\OSTPL\LAB\CODE\MiniProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
1911031_A2_Hussein.pptx
1911031_A2_Hussein.docx
.idea